header {
  background-color: white;
  color: grey;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.form {
  margin: 5%;
  margin-top: 0;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid white;
  box-shadow: 10px 15px 20px 20px #e3dfdf;
  width: 80%;
  height: 400px;
  overflow-y: auto;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  width: 60%;
  margin-right: 10%;
}

.right {
  position: sticky;
  top: 0;
  z-index: 1;
  right: 0px;
  width: 30%;
}

.list-elements {
  margin: 30px;
}

h5 {
  color: red;
}

input {
  border-style: none none solid none;
  margin: 10px;
  padding: 10px;
}

select {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

option {
  padding: 5px;
}

.time input {
  padding: 10px;
}

.input-group label {
  margin: 5px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

li {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
}

img {
  float: right;
  position: sticky;
  height: 410px;
  width: 100%;
  right: 0;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

button {
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 70px;
  background-color: rgb(140, 108, 170);
  color: white;
  position: relative;
  left: 40%;
}

@media screen and (max-width: 800px) {
  .form {
    flex-direction: row;
  }

  .left,
  .right {
    flex: none;
  }
}